* {
    /* background: #131111; */
    color:  rgba(6, 243, 6, 0.991);
    font-family:;
}

* { box-sizing: border-box; }
$duration: 30s;

header {
  display:flex;
  flex-direction: row;
  justify-content:stretch;  
  /* align-items:stretch; */
  /* flex-basis: top; */
  font-family:'DotGothic16', 'Inconsolata', monospace;
  font-size: large;
}

div {
  width:fit-content;
}

body {
  /* background: url(../../assets/dall-e/andy-transparent.png) no-repeat top center;  */
  padding-bottom: 5rem;
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh;
  font: 1.3rem Inconsolata, monospace;
  margin: 0;
}

h1 {
  display:flex;
  width:fit-content;
  /* flex-wrap: wrap;   */
  align-items:start;
  padding: 0 0 0 4rem;
  margin: 0;
  font-family:monospace, 'DotGothic16', 'Inconsolata' ;
  font-size: 5rem;
  color: #5b5c5e;
}

h2,p {
  padding: 0 5%;
}

.face {
  scale: -1 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;  
  justify-content:center;
  /* float:center; */
  max-width: 70%;
  min-width: 30%;
  z-index: 1;

}

.binary {
  color: rgba(6, 243, 6, 0.991);
}

/* From ticker/styles.css */
.ticker-wrapper {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  float:right;
  z-index: -1;
 /* padding-top: 100px;
 margin-top: 50px; */
}

.ticker-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  float:right;
  width: 800px; /* Manually set width */
  height: auto;
}

.scrolling-text {
  position: absolute;
  /* bottom: 10px; */
  white-space: nowrap;
  font-size: 24px;
  color: #00ff00;
  display: block;
  left: 100%; /* Start off-screen */
  opacity: 1;
  animation: scroll-left 10s linear infinite;
  /* background-color: rgba(255, 0, 0, 0.5); /* Red transparent background */
  /* border: 1px solid yellow; */
}

@keyframes scroll-left {
  0% {
      left: 100%;
      opacity: 1;
  }
  35% {
      left: 35%;
      opacity: 0.0;
  }
}