body {
    background-color: black;
    /* color: white; */
    font-family: 'DotGothic16', sans-serif, 'Quantico';
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ticker-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
}

.ticker-container {
    width: 1920px; /* Manually set width */
    height: auto;
}

.scrolling-text {
    position: absolute;
    /* bottom: 10px; */
    white-space: nowrap;
    font-size: 24px;
    color: #00ff00;
    display: block;
    left: 100%; /* Start off-screen */
    opacity: 1;
    animation: scroll-left 10s linear infinite;
    /* background-color: rgba(255, 0, 0, 0.5); /* Red transparent background */
    /* border: 1px solid yellow; */ */
}

@keyframes scroll-left {
    0% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: -100%;
        opacity: 0.2;
    }
}
