body {
    /* font-family: 'Courier New', Courier, monospace; */
    /* background: black; */
    font-family: '8801', 'RetroComputer', 'DotGothic16';
    background-image: radial-gradient(#14201c, black 180% 20%);
    color: lightgreen;
    font-size: x-large;
    padding:2em;
}

a {
    color: lightgreen;
}

.blink-on {
    background-color: lightgreen;
    color: black;
}

