@font-face {
  font-family: 'DotGothic16';
  src: url('../fonts/DotGothic16.ttf') format('truetype');
}
@font-face {
  font-family: 'RetroComputer';
  src: url('../fonts/retro_computer_personal_use.ttf') format('truetype');  
}  
@font-face {
  font-family: '8801';
  src: url('../fonts/8801-DKnR.ttf') format('truetype');  
}

:root {
  --blink-color : var(--floGreen);
  --floGreen: hsla(120 100 50);
  --floCyan: #19adae;
  --floMagenta: #d8208f;
  --floYellow: #faf34c;
}

* {
  font-family: '8801', 'RetroComputer', 'DotGothic16';
}

header {
  height: 30vh; /* Use viewport height */
  max-width: 100%;
  display: flex;
  /* flex-direction: row;
  justify-content: flex-start; */
  font-size: large;
}

.flex-container {
  display:flex
}

body {
  display: flex;
  flex-direction: column; /* Ensure flex direction is column */
  max-width: 100%;
  max-height: 100vh; /* Use viewport height */
  font-family: '8801', 'RetroComputer', 'DotGothic16';
  align-content: flex-start;
  padding-bottom: 5rem;
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  );
  height: 100vh; /* Use viewport height */
  margin: 0;
}

h1 {
  display: flex;
  width: fit-content;
  align-items: start;
  padding: 7rem 0 0 4rem;
  margin: 0;
  font-size: 7rem;
  color: var(--floGreen);
  position: absolute;
  /* z-index: 100; */
  animation: glitch1 2.5s infinite;
}

h1:nth-child(2) {
  color: var(--floMagenta);
  animation: glitch2 2.5s infinite;
  position: absolute;
  z-index: 100;
}

h1:nth-child(3) {
  color: var(--floCyan);
  animation: glitch3 2.5s infinite;
  position: absolute;
  z-index: 100;
}

/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

h2 {
  padding: 0 2%;
}

p {
  padding: 0 2%;
  color: var(--floGreen);
  font-size:larger;
}

#userName {
  background-color: #121314;
  border: hidden;
  border-color: #121314;
  font-size: large;
}

.face {
  display:flex;
  object-fit: contain;  
  scale: -1 1;
  flex-basis: 50%;
  max-width: auto;
  min-width: auto;
  max-height: 30vh;
  min-height: 30vh;
  /* z-index: 1; */
}

#face {
  display: flex;
  object-fit: contain;
}

#face:hover {
  
}

.binary {
  color: var(--floGreen);
}

.ticker-wrapper {
  max-width: 100%;
  max-height: 20vh; /* Use viewport height */
  width: 35%;
  height: 100vh; /* Use viewport height */
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  float: right;
  z-index: -1;
}

.ticker-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  float: right;
  height: auto;
}

.scrolling-text {
  position: absolute;
  white-space: nowrap;
  font-size: 24px;
  color: var(--floGreen);
  display: block;
  left: 100%; /* Start off-screen */
  opacity: 1;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    left: 100%;
    opacity: 1;
  }
  35% {
    left: 35%;
    opacity: 0.0;
  }
}

#terminal {
  opacity: 50;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  flex-grow: 0;
  flex-shrink: 30%;
  min-height: 70vh; /* Use viewport height */
  min-width: 85vw;
  max-width: 75%;
  margin: 0 5em 5em 5em;
  border: 10px;
  border-color: #211d1d96;
  border-style: double;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 13px;
  background-image: radial-gradient(#1D1F21, black 180% 20%);
  box-shadow: 0px 13px 17px -6px rgba(0, 0, 0, 0.38);
  position: absolute;
  z-index: 100;
  letter-spacing: 0.05rem;
}

#aiGency {
  font-family: monospace;
  font-stretch:extra-expanded;
  align-items: center;
  font-display:var(--blink-color);

}

#terminal:hover {
  transform: scale(1.05);
  /* transform: translateY(-80px); */
  box-shadow: 150px 38px 90px 0px rgba(0, 0, 0, 0.45);
}

.terminal-window {
  text-align: left;
  border-radius: 4px;
  font-size: 13px;
}

.terminal-body {
  padding: 8px;
  opacity: 50;
  background: darkgray;
  color: var(--floGreen);
  /* color: #fff; */
  line-height: 25px;
  font-family: monospace, Quicksand, sans-serif;
}

.command {
  color: var(--floGreen);
}

.cursor {
  color: var(--floGreen);
  display: inline-block;
  height: 1.1em;
  width: 0.5em;
  vertical-align: bottom;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  z-index: 10
  ;
}

@keyframes blink {
  from,
  to {
    background: 0 0;
  }
  50% {
    background: var(--blink-color);
  }
}

@-moz-keyframes blink {
  from,
  to {
    background: 0 0;
  }
  50% {
    background: var(--blink-color);
  }
}

@-webkit-keyframes blink {
  from,
  to {
    background: 0 0;
  }
  50% {
    background: var(--blink-color);
  }
}

@-ms-keyframes blink {
  from,
  to {
    background: 0 0;
  }
  50% {
    background: var(--blink-color);
  }
}

@-o-keyframes blink {
  from,
  to {
    background: 0 0;
  }
  50% {
    background: var(--blink-color);
  }
}

footer {
  padding: 50px;
  height: 10vh; /* Use viewport height */
}

footer a {
  color: #1DC8FE;
}

footer a:hover {
  text-decoration: none;
  color: #1DC8FE;
}

#container {
  max-width: 100%;
  width: 40vw;
  margin: 0 auto;
}

#banner-device {
  display:none;
  opacity:50;
}

#banner-laptop {
  display:inline;
  opacity:50;
}

@media (max-width: 768px) {
  /* .flex-container {
    flex-direction: column; 
  } */
  #terminal {
    max-width: 80vw;
    max-height: 60vh;
    margin: 0 5vw 5vw 5vw;
  }
  #container {
    display:none;
  }

  .ticker-wrapper {
    display:none;
  }

  #banner-laptop {
    display:none;
  }

  #banner-device {
    display:inline;
  }


}

/* @media only screen and (max-width: 600px) {
  [data-alttext] > span {
    display: none;
  }
  
  [data-alttext]::before {
    content: attr(data-alttext);
  }
} */

.banner {
  opacity: 50;
}